@import "tailwindcss";

@theme {
  --color-darkGreen: #234f3c;
  --color-lightGreen: #eef2f0;
  --color-danger: #ff4d4d;
  --color-warning: #ffb84d;
  --color-success: #4caf50;
}

body {
  background-color: #f8faf9;
  margin: 0;
}